@import './mixin.scss';

$color-pen-primary: #8f5785;
$color-paper-primary: #ffd6e6;
$color-pen-secondary: #fff;
$color-paper-secondary: #ca80bd;

$block-width: 900px;

$transition-speed-in: 0.15s;
$transition-speed-out: 0.35s;
$easing-jello: cubic-bezier(0.1, 0.8, 0.2, 1.8);
