@import './page.scss';
@import './component.scss';

// $color-pen-primary: #393c42;
// $color-paper-primary: #d6e3ff;
// $color-pen-secondary: #3563d0;
// $color-paper-secondary: #bcd2ff;

$color-pen-primary: #af5683;
$color-paper-primary: #ffe6f0;
$color-pen-secondary: #ff1493;
$color-paper-secondary: #ffd9e8;

$block-width: 900px;

$transition-speed-in: 0.15s;
$transition-speed-out: 0.35s;
$easing-jello: cubic-bezier(0.1, 0.8, 0.2, 1.8);
